$primaryColor: #BEA67C;
$whiteColor: #FFF;
$blackColor: #000;

$fontFamily: 'Source Sans Pro', sans-serif;

*,
*::before,
*::after {
  box-sizing: border-box;
}

// .section {
//   opacity: 0%;
// }

.active {
  opacity: 100%;
}