.products{

  font-family: $fontFamily;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;

  .product-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
        
    .product{
      
      margin: 25px 0;

      display: flex;
      justify-content: right;
      flex-direction: row;
      flex-wrap: wrap;

      .product-info{
        padding: 10px 20px 0 0;
        font-family: italy;

      }

      .product-info p {
        margin-top: 6px;
      }

      .product-rating{
        font-size: 10px;
        padding: 25px 0 25px 10px;

      }

      .number-1 img{
        width: 60%;
      }
    }

    .rating{
      color: $primaryColor;
    }

    .foto{
      margin: 25px 0;

      img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        box-shadow: 2px 14px 20px 4px rgba(0, 0, 0, 0.401);
      }

    }
  }

  .price{
    position: relative;
  }

  .triangle{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 0;
    height: 0;
    border-right: 250px solid #eccc68;
    border-bottom: 250px solid transparent;  }
    
    

  .oldPrice{
    position: absolute;
    left: 75%;
    top: 0%;
    transform: translate(-50%, -50%);
    padding: 10px;
    margin-top: 50px;
    font-size: 25px;
    color: white;
    font-weight: 900;
  }

  .oldPrice::before {
    position: absolute;
    content: '';
    bottom: -5px;
    left: 30px;
    width: 4%;
    height: 8vh;
    transform: translateX(-50%);
    background: white;
    border-radius: 1px;
    z-index: 1;
    transform: rotate(90deg);
  
  }  

  .newPrice{
    position: absolute;
    left: 85%;
    top: 0%;
    transform: translate(-50%, -50%);
    padding: 10px;
    margin-top: 100px;
    font-size: 40px;
    color: white;
    font-weight: 900;
  }
  
}